<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/login.css">
        
        <title>Document</title>
    </head>
    <body>
        <div class="find-id-page">
            <div class="form">
              <form class="find-id-page-form">
              
                <input id = "sellerName" type="text" placeholder="sellerName">
           
                <button id = "seller">seller history</button id = "seller">


                <p id = "button">deliver 찾기</p id = "button">
                  <p id = "request"> request deliver</p id = "request">

              </form>
            </div>
          </div>
    </body>
    <script src = "/js/home/get_deliverlist.js" defer></script>
    </html>
    <!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->