<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/login.css">
        
        <title>Document</title>
    </head>
    <body>
        <div class="find-id-page">
            <div class="form">
              <form class="find-id-page-form">
                <input id = "sellerID" type="text" placeholder="sellerID"/>
                <input id = "productID" type="text" placeholder="productID"/>
                <input id = "productName" type="text" placeholder="productName"/>
                <input id = "price" type="text" placeholder="price"/>
                <input id = "info" type="text" placeholder="info"/>

  
                <p id = "button"> product_register</p id = "button">

              </form>
            </div>
          </div>
    </body>
    <script src = "/js/home/product_register.js" defer></script>
    </html>
    <!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->